

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="#" class=" fa fa-user fa-4x clx">User Record</a>


<link href="~/Content/Jqgrid/jqGrid/css/ui.jqgrid-bootstrap4.css" rel="stylesheet" />
<script src="~/Content/Jqgrid/jqGrid/grid.locale-en.js"></script>
<script src="~/Content/Jqgrid/jqGrid/jquery.jqGrid.min.js"></script>
<style>

    a.txt {
        cursor: pointer;
        text-decoration: none;
    }

    a.clx {
        cursor: pointer;
        text-decoration: none;
    }

    div#mytable_wrapper {
        position: relative;
        margin-top: 10px;
    }
</style>



<table class="table" id="mytable">
</table>
<div id="page2"></div>
<script>
    $(document).ready(function () {
        $("#mytable").jqGrid({
            mtype: 'Get',
            url: '@Url.Action("Index1","Employee_Master")',
            datatype: "json",
            colNames: ['Name', 'Date Of Birth', 'Phone', 'Address', 'Country', 'State', 'City', 'Email Id'],
            colModel: [
                { name: 'Name', index: 'Name', width: 55 },
                { name: 'Date_Of_Birth', index: 'Date Of Birth', width: 90 },
                { name: 'Phone', index: 'Phone asc, invdate', width: 100 },
                { name: 'Address', index: 'Address', width: 80, align: "right" },
                { name: 'Country', index: 'Country', width: 80, align: "right" },
                { name: 'State', index: 'State', width: 80, align: "right" },
                { name: 'City', index: 'City', width: 150, align: "right" },
                { name: 'EmailId', index: 'EmailId', width: 150, sortable: false }
            ],
            rowNum: 10,
            rowList: [10, 20, 30],
            pager: '#page2',
            sortname: 'id',
            viewrecords: true,
            sortorder: "desc",
            caption: " User Record",
            emptyrecords: 'No records',
            jsonReader:
            {
                Id:"0"
            }
        });
        jQuery("#mytable").jqGrid('navGrid', '#page2', { edit: false, add: false, del: false });
    });

</script>