

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="#" class=" fa fa-user fa-4x clx">User Record</a>


<link href="~/Content/Jqgrid/jqGrid/css/ui.jqgrid-bootstrap4.css" rel="stylesheet" />
<script src="~/Content/Jqgrid/jqGrid/grid.locale-en.js"></script>
<script src="~/Content/Jqgrid/jqGrid/jquery.jqGrid.min.js"></script>
<style>

    a.txt {
        cursor: pointer;
        text-decoration: none;
    }

    a.clx {
        cursor: pointer;
        text-decoration: none;
    }

    div#mytable_wrapper {
        position: relative;
        margin-top: 10px;
    }
</style>



<table class="table" id="mytable">
</table>
<div id="page2"></div>
<script>
    $(document).ready(function () {
        $("#mytable").jqGrid({
            url: '@Url.Action("Index1","Employee_Master")',
            mtype: 'Get',
            datatype: "json",
            //colNames: ['Name', 'Date Of Birth', 'Phone', 'Address', 'Country', 'State', 'City', 'Email Id'],
            colModel: [
            //    { name: 'Name'},
            //    { name: 'Date_Of_Birth' },
            //    { name: 'Phone'},
            //    { name: 'Address' },
            //    { name: 'Country' },
            //    { name: 'State' },
            //    { name: 'City' },
            //    { name: 'EmailId' }
            //],
            //{
            //    label: 'Id', name: 'Id', index: 'Id', width: 70,
            //    sortable: false, align: 'center', editable: true, hidden: true

            //},
            {
                label: 'Phase', name: 'Name', index: 'Name', width: 70,
                sortable: false, align: 'Left', editable: true, edittype: 'custom',
                cellEdit: true, edittype: 'select', 
            }


                ],

            loadonce: true
        });
        //jQuery("#mytable").jqGrid('navGrid', '#page2', { edit: false, add: false, del: false });
    });

</script>